body {
    background-color: #f8ebe8;
    font-family: 'Rubik', sans-serif;
}

h2 {
    margin-bottom: 20px;
}

#container {
    margin: auto;
    max-width: 1200px;
    min-width: 800px;
}

#banner {
    height: 250px;
    background-color: #000;
    transition: all 5s ease;
    border: 2px solid #000;
}

#banner:hover {
    background-color: #ffffff;
}

#text {
    padding-top: 80px;
}

p {
    text-align: center;
}

.reveal {
    animation: rainbow 2s ease infinite;
}

@keyframes rainbow {
    0% {
      color: red;
    }

    16% {
      color: orange;
    }

    32% {
      color: yellow
    }

    48% {
      color: green;
    }

    64% {
        color: blue;
    }

    100% {
        color: purple;
    }
}

main {
    display: flex;
    padding: 20px 0px 20px 0px;
}

section {
    flex: 1;
    margin-right: 15px;
    padding: 12px 0px 12px 0px;

    background-color: #fff;
    border: 2px solid #000;
}

section:last-of-type {
    margin-right: 0px;
}

section h2 {
    padding-left: 40px;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left:0;
}

li {
    line-height: 30px;
    padding-left: 40px;
}

a {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

a:hover {
    color: #eededb;
}

footer {
    background-color: #fff;
    border: 2px solid #000;
    padding: 20px 0px 20px 0px;
    text-align: center;
    margin-bottom: 20px;
}

footer a {
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: #6878b5;
}