body {
    transition: background-color 5s ease;
    animation: sky 20s infinite;

    font-family: 'Rubik', sans-serif;
    color: antiquewhite;

    max-width: 1366px;
    max-height: 768px;
}

@keyframes sky {
    0% {
      background-color: rgb(133, 145, 255);
    }

    25% {
      background-color: rgb(166, 133, 255);
    }

    50% {
      background-color: rgb(216, 133, 255);
    }

    75% {
        background-color: rgb(166, 133, 255);
    }

    100% {
        background-color: rgb(133, 145, 255);
    }
}

#animation {
    position: absolute;
    animation: float 10s infinite;
}

@keyframes float {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}

#cloud1{
    z-index: 1;

    position: relative;
}

#cloud2{
    z-index: 2;

    position: relative;
    top: 100px;
    left: 100px;
}

#cloud3{
    z-index: 3;

    position: relative;
    top: 200px;
    left: 80px;
}

#container {
    display: flex;
    padding: 0px 50px 0px 50px;
}

#photos { 
    flex: 2;
    padding: 50px 0px 50px 50px;
}

#gallery {
    position: absolute;
}

header {
    flex: 1;
    color: antiquewhite;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-weight: 100;

    margin-top: 50px;
    padding-left: 50px;
}

header p {
    margin-top: 50px;
    padding-left: 100px;

    line-height: 20px;
    font-style: italic;
}

#galleryA,
#galleryB,
#galleryC,
#galleryD,
#galleryE {
    position: relative;
    padding: 15px 15px 25px 15px;
    background-color: antiquewhite;
}

#date {
    margin: auto;
    padding-top: 10px;

    color: black;
    font-weight: 400;
    font-size: 12px;
}

#galleryA {
    z-index: 5;
}

#galleryB {
    z-index: 6;

    top: 25px;
    left: 60px;
}

#galleryC {
    z-index: 4;
    
    top: -450px;
    left: 200px;
}

#galleryD {
    z-index: 7;

    top: -600px;
    left: 350px;
}

#galleryE {
    z-index: 8;

    top: -1000px;
    left: 550px;
} 

footer {
    margin-top: 50px;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

a:hover {
    color: #dab9b4;
}

