/* fonts
font-family: 'Inconsolata', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Unica One', cursive;
*/

body {
    background-color: #e5e0ff;
    font-family: 'Rubik', sans-serif;
}

h1 {
    margin-bottom: 20px;
}

#container {
    /* background-color: #f2f2ff; */
    margin: auto;
    max-width: 1000px;
    min-width: 700px;
    padding: none;
}

#banner {
    height: 250px;
    background-color: #000;
    transition: all 5s ease;
    border: 2px solid #000;
    border-radius: 15px;
}

#banner:hover {
    background-color: #ffffff;
}

#banner #text {
    padding-top: 80px;
}

#banner p {
    text-align: center;
}

.reveal {
    animation: rainbow 2s infinite;
}

@keyframes rainbow {
    0% {
      color: red;
    }

    16% {
      color: orange;
    }

    32% {
      color: yellow
    }

    48% {
      color: green;
    }

    64% {
        color: blue;
    }

    100% {
        color: purple;
    }
}

main {
    display: flex;
    padding: 20px 0px 20px 0px;
}

nav {
    flex: 1;
    margin-right: 10px;
    border: 2px solid #000;
    border-radius: 20px;
}

nav ul {
	padding-left:0;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
	font-weight: 500;
	color:#000;
	font-size: 20px;
	text-align: center;
	padding: 20px;
}

#entries {
    flex: 3;
    margin-left: 10px;
}

article {
    padding: 20px 47px 20px 47px;
    border: 2px solid #000;
    border-radius: 20px;
}

article h2 {
    font-weight: 500;
}

time {
    font-weight: 300;
}

article p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    
}

a {
    text-decoration: none;
    color: #6878b5;
}

a:hover {
    color: #aab8f1;
}

footer {
    background-color: #fff;
    padding: 20px 0px 20px 0px;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #000;
    border-radius: 12px;
}

footer a {
    padding: 0px 20px 0px 20px;
}