body {
    font-family: 'Rubik', sans-serif;

    background-color: thistle;
    color: aliceblue;

    margin: auto;
    max-width: 1366px;
    max-height: 768px;

    padding: 50px;
    line-height: 1.5em;
}

#intro {
    text-align: center;
}

button { 
    background-color: darksalmon;
    color: antiquewhite;

    padding: 10px;

    border: 5px solid antiquewhite;
}

div {
    text-align: center;
    padding: 20px;
}

#gamecontrol, #score {
    background-color: plum;
}

#game {
    background-color: tan;
}

#actions {
    background-color: rosybrown;
}