body {
    font-family: 'Space Grotesk', sans-serif;

    background-image: url("images/glow.png");
    background-repeat: no-repeat;
    background-position: top -150px center;
    background-size: 1000px;

    background-color: #7D68FF;
    color: aliceblue;

    max-height: 700px;
    max-width: 1200px;

    margin: auto;
    line-height: 1.5em;
}

#intro {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

#intro h1 {
    font-size: 85px;

    animation: rainbow 5s infinite;
}

@keyframes rainbow {
    0% {
      color: #fff383;
    }

    25% {
        color: lavenderblush;
    }

    50% {
        color: #fff383;
    }

    75% {
        color: lavenderblush;
    }

    100% {
        color: #fff383;
    }
}

#info {
    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 15px;

    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#info a {
    padding: 0px 20px 0px 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #ff7b00;
}

/* buttons */
button { 
    background-color: #8285DA;
    color: antiquewhite;

    width: 200px;
    height: 30px;
    border-style: none;
    border-radius: 12px;
}

button:hover {
    background-color: #ff7b00;
    color: black;
}

#startgame {
    margin-top: 175px;
    font-weight: 500;
    border: 2px solid antiquewhite;
    background-color: #9a9dff;
}

#startgame:hover {
    border: 2px solid black;
    background-color: #ff7b00;
}

/* #rules {
    margin-top: 10px;
    font-weight: 100;
    font-size: 12px;
    background-color: #8083d5;
}

#rules:hover {
    background-color: #f79234;
} */

/* #rules-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;

    z-index: -2;
    visibility: hidden;
}

#rules-overlay article h1 {
    text-align: center;
} */

#orpass {
    margin-top: 10px;
}

/* gameplay */
#gameplay {
    display: flex;
}

#player1,
#interactions,
#player2 {
    flex: 1;
    text-align: center;
    border-radius: 20px;
    height: 300px;
}

#player1 {
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(203, 201, 244, 0.1));
    visibility: hidden;
}

#player2 {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(203, 201, 244, 0.1));
    visibility: hidden;
}

#player1 p {
    font-size: 20px;
    margin-right: 120px;

    color: slategrey;
}

#player2 p {
    font-size: 20px;
    margin-left: 120px;

    color: slategrey;
}

#score1 {
    margin-top: 100px;
    margin-right: 125px;
    font-size: 100px;
}

#score2 {
    margin-top: 100px;
    margin-left: 125px;
    font-size: 100px;
}

#gamecontrol, 
#actions,
#game,
#score {
    text-align: center;
}

#gamecontrol {
    margin-top: 20px;
    margin-bottom: 65px;
}

#quit {
    background-color: #8083d5;
    opacity: 0.25;
}

#quit:hover {
    background-color: #ff7b00;
    opacity: 1;
}

#actions {
    margin-top: 85px;
}

#score p {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;

    margin-top: 100px;

    animation: yay 2s infinite;
}

@keyframes yay {
    0% {
      color: red;
    }

    16% {
      color: orange;
    }

    32% {
      color: yellow
    }

    48% {
      color: green;
    }

    64% {
        color: blue;
    }

    100% {
        color: purple;
    }
}

/* arrow emoji */
#left-arrow, #right-arrow {
    font-size: 50px;
    margin-bottom: 25px;
}

/* overlay */
#turn, #turn-flip {
    position: absolute;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;
}

/* bottom of the page */
#left-image, #right-image,
#left-image-off, #right-image-off {
    position: relative;
    display: inline-block;
}

#left, #right {
    position: fixed;
    bottom: 105px;

    width: 75px;
}

#left {
    left: 125px;
}

#right {
    right: 125px;
}

#planet-left, #planet-right {
    position: fixed;
    bottom: -570px;

    width: 700px;
}

#planet-left {
    left: -200px;
}

#planet-right {
    right: -200px;
}

/* visibility */
#left-image, #right-image {
    visibility: visible;
}

#left-image-off, #right-image-off {
    visibility: hidden;
}

#turn {
    visibility: hidden;
}

#turn-flip {
    visibility: hidden;
}

/* hiearchy */
#turn, #turn-flip {
    z-index: -1;
}

#left, #right {
    z-index: 10;
}

#planet-left, #planet-right {
    z-index: 9;
}

#gameplay {
    z-index: 8;
}